body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #555;
    font-size: 1.2em;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Importante para que el padding no afecte el ancho total */
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    height: fit-content;
}

button:hover {
    background-color: #0056b3;
}

#btn-generar-factura {
    background-color: #28a745;
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
}

#btn-generar-factura:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #007BFF;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tfoot {
    font-weight: bold;
}

#total-factura {
    color: #28a745;
    font-size: 1.2em;
}

.producto-item:hover {
    background-color: #c0c4c9;
    cursor: pointer;
}

#pProductoSelect {
    background-color: #81a180;
}
